main {
  float:right;
  width: 70%;
}
aside {
  float: left;
  width: 25%;
  margin-right: 10px;
}
.filmGroup {
  div{
    &:nth-child(2n) {
      border-top: 2px solid #868585;
      border-right: 2px solid #868585;
      border-bottom: 2px solid #868585;
      margin-right: 20px;
    }
    &:nth-child(odd) {
      border-top: 2px solid #868585;
      border-bottom: 2px solid #868585;
      border-left: 2px solid #868585;
    }
    &:last-child {
      border: 2px solid #868585;
    }
  }
}
.cardBlock {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 5px 10px 5px;
}

.sidebarMod {
  border: 2px solid #83837d;
  margin-bottom: 30px;
  padding: 10px;
  background: #868585;
  border-radius: 4px;
}

#sw-graph {
  display: block;
  position: relative;
  width: 100%;
  margin: 5px;
  padding: 0;
  background: transparent;
  font-size: 14px;
}

#sw-graph td {
  transition: all .3s ease;

  &:hover {
    background-color: desaturate(#85144b, 100);
    opacity: .9;
    color: white;
  }
}
#sw-graph .bar {
  width: 200px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
  left: 13px;
  border-color: transparent;
  p {
    margin: 5px 0 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
  }
}

#sw-graph .bar[data-film='4'] p {
  background: goldenrod;
  width: 125px;
}
#sw-graph .bar[data-film='2'] p {
  background: goldenrod;
  width: 100px;
}
#sw-graph .bar[data-film='1'] p {
  background: goldenrod;
  width: 110px;
}
#sw-graph .bar[data-film='3'] p {
  background: goldenrod;
  width: 90px;
}
#sw-graph .bar[data-film='5'] p {
  background: goldenrod;
  width: 95px;
}
#sw-graph .bar[data-film='6'] p {
  background: goldenrod;
  width: 80px;
}
#sw-graph .bar[data-film='7'] p {
  background: goldenrod;
  width: 120px;
}
